*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Condensed', sans-serif;

}

ul {
    list-style: none;
}



.bodyindex{
   background-image: url(../imagenes/nosirveparanada6.jpg);
   background-attachment: fixed;
   background-size: cover;

}


.header__contein{
    width: 100%;
    height: 100px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    box-shadow: 0 2px 5px rgb(143, 143, 141);
    align-items: center;
    background-image: url(../imagenes/Mármol-blanco-header.jpg);
    background-attachment: fixed;

}


.navbar {
    background-image: url(../imagenes/Mármol-blanco-header.jpg);
 
}

.navbar-brand{
    font-size: 25px;
  
}

 
.header__iconos{
   max-width: 55px;
    height: auto;
    margin-right: 4rem;
    padding: 1rem;
    transform: scale(1.5);

}




                            /* Comienza el main - Primera seccion */




/* segunda seccion */

/* Elemento Padre */

.grid {
    border: 2px solid #ACA7A4;
    min-height: 500px;

    display: grid;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,0.5fr) ;
    grid-template-areas: 
    "ele1 ele1 ele1 ele1"
    "ele2 ele3 ele4 ele5";
    row-gap: 5px;
    column-gap: 5px;
    gap: 2px;
    justify-content: center;
    align-content: center;
}


.grid__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms ease-out;
}

.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #20201e7e;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}


.grid__hijo:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.grid__hijo:hover > .capa h3{
    margin-top: 150px;
    font-size: 50px;
}

.capa h3{
    color: white;
    transition: all 500ms ease-out;
}

.grid__hijo:hover > img{
    transform: scale(1.3);
}



/* Elementos Hijos */

.grid__hijo{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__hijo--1{
    background-color: rgba(81, 107, 107, 0);
    grid-area: ele1;
    overflow: hidden;
    position: relative;
}

.grid__hijo--2{
    background-color: rgb(218, 175, 34);
    grid-area: ele2;
    position: relative;
    overflow: hidden;
}

.grid__hijo--3{
    background-color: darkmagenta;
    grid-area: ele3;
    position: relative;
    overflow: hidden;
}

.grid__hijo--4{
    background-color: crimson;
    grid-area: ele4;
    position: relative;
    overflow: hidden;
}

.grid__hijo--5{
    background-color: rgb(20, 220, 103);
    grid-area: ele5;
    position: relative;
    overflow: hidden;
}

/* Tercera Seccion del main */

.section3{
    display: flex;
    justify-content: center;
    margin:1rem ;
}


.tarjeta{
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    height: 460px;
    padding: 8px;
    /* borde: grosor, tipo  color */
    border: 5px double #aca7a4;
    border-bottom: 5px ridge #918d8b;
    margin: 8px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    /* se activan 4 posiciones adicionales top left rigth botom */

}

.tarjeta{
    overflow: hidden;
    transition: all 500ms ease;
    }
    
.tarjeta__imagen{
    transition: all 500ms ease;
    }
    
.tarjeta__imagen:hover{
    transform: scale(1.2);
    }


.tarjeta__imagen{
    width: 100%;
    height: 280px;
    border-radius: 10px;
}

.tarjeta__titulo{
    font-size: 20px;
    color: #ABA700;
    margin: 1px;
}

.tarjeta__parrafo{
    font-size: 12px;
    color: #272822;
    margin: 16px;
}

.tarjeta__descuento{
   color: rgb(255, 255, 255);
   position: absolute;
   top: 8px;
   right: 8px;
   padding: 10px;
   border-radius: 30px;
   font-size: 20px;
   border: 1px solid rgb(150, 146, 146);
   font-family: 'Source Code Pro', monospace;
   background-color: #d4c2b9;
}

.tarjeta__boton{
    background-color:#D4C2B9;
    color: rgb(68, 64, 64);
    border: 1px solid #969292;
    border-radius: 1rem;
    padding: 5px;
    margin-top: 1rem;
}

.tarjeta__monto{
    display: inline;
    text-decoration: line-through;
    color: red;
}

.tarjeta__monto1{
    display: inline;
    padding: 5px;
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	animation: vibrate-1 0.3s linear infinite both;
}



@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  

                        /* Cuarta seccion */

.section4{
    display: flex;
    justify-content: center;
    margin:1rem ;
}


.section4__title{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1rem;
    font-size: 55px;
}

.section4__title b{
    color: yellow;
}

.section4__tarjeta{
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    border: 0px groove #aca7a4;
    border-bottom: 5px ridge #918d8b;
    width: 250px;
    height: 285px;
    text-align: center;
    display: inline-block;

}

.section4__subtitle{
    margin-top: 1px;
}


.section4__imagen{
    width: 100%;
    height: 150px;
    border-radius: 16px;
    object-fit: cover;
    margin-bottom: 8px;
}


.section4__parrafo{
    padding: 0.5rem;
}


/* Comienza el footer */
.footer{
    background-image: url(../imagenes/Mármol-blanco-header.jpg);
    width: 100%;
    height: 100px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: center;

}


.footer__iconos{
    max-width: 16px;
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    padding: 1rem;
    bottom: 10px;
    margin-right: 3rem;
    margin-left: -15px;
    transform: scale(1.5)
}


.whatsapp{
    position: fixed;
    z-index: 10;
    bottom: 75px;
    right: 50px;
    background-color: rgb(11, 20, 105);
    /* background-color: rgb(0, 0, 0); */
    padding: 8px;
    border-radius: 100%;
    display: inline;
    text-decoration: none;
}
/* Segunda pagina */
/* ------------------------------ PRODUCTOS ------------------------------------------------- */

.productosbody{
    background-image: url(../imagenes/fondoquenosirve9.jpg); 
    background-size: cover;
    
} 



.encabezado{
    display: flex;
    align-items: center;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.encabezado__title{
    font-size: 75px;
}

.encabezado__img{
    border-radius: 15rem;
    max-width: 450px;
}

.encabezado__izq, .encabezado__dere{
    width: 50%;
    text-align: center;
    align-items: center;
}

.producto__contenedor{
     display: flex;
    justify-content: center;
    margin:1rem ;
    flex-wrap: wrap;
}




.tarjeta__productos{
    display: flex;
    justify-content: center;
    margin:1rem ;
    flex-wrap: wrap;
}

.tarjeta__productos{
    background-color: rgba(100, 100, 100, 0.438);
    color: black;
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 1rem;
    /* borde: grosor, tipo  color */

    margin: 1rem;
    overflow: hidden;
    display: inline-block;
}

.tarjeta__productos__imagen{
    width: 100%;
    height: 280px;
    

}

.tarjeta__productos__titulo{
    font-size: 25px;
    color: #c2bf00;
    margin: 3px;
}



.encabezado div{
    overflow: hidden;

}

.encabezado__img{
    transition: all 500ms ease;

}
        
.encabezado__img:hover{
    filter: saturate(180%);
}

.flex__container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    overflow: hidden;
}

.flex__container div{
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    overflow: hidden;

}
        
.conteiner__img{
    transition: all 500ms ease;

}
        
.conteiner__img:hover{
    transform: scale(1.2);
}
    




/* Tercera pagina */
/* ---------------------------- PROMOCIONES------------- */
.promocionesbody{
    background-image: url(../imagenes/nosirveparanada2.jpg);
    background-attachment: fixed;
}

.tarjeta__contenedor{
    display: flex;
    justify-content: center;
    margin:1rem ;
    flex-wrap: wrap;
}


.tarjeta__promociones{
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    padding: 16px;
    /* borde: grosor, tipo  color */
    border: 5px double #aca7a4;
    border-bottom: 5px ridge #918d8b;
    margin: 8px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    /* se activan 4 posiciones adicionales top left rigth botom */
  

}

.tarjeta__promociones__imagen{
    width: 100%;
    height: 280px;
    border-radius: 10px;
    
}

.tarjeta__promociones__titulo{
    font-size: 20px;
    color: #ABA700;
    margin: 8px;
}

.tarjeta__promociones__parrafo{
    font-size: 12px;
    color: #272822;
    margin: 16px;
}

.tarjeta__promociones__descuento{
   color: rgb(255, 255, 255);
   position: absolute;
   top: 8px;
   right: 8px;
   padding: 10px;
   border-radius: 30px;
   font-size: 20px;
   border: 1px solid rgb(150, 146, 146);
   font-family: 'Source Code Pro', monospace;
   background-color: #d4c2b9;
}

.tarjeta__promociones__boton{
    background-color:#D4C2B9;
    color: rgb(68, 64, 64);
    border: 1px solid #969292;
    border-radius: 1rem;
    padding: 5px;
}

.tarjeta__promociones__monto{
    display: inline;
    text-decoration: line-through;
    color: red;
}

.tarjeta__promociones__monto1{
    display: inline;
    padding: 5px;
}


.tarjeta__promociones{
    overflow: hidden;
    transition: all 500ms ease;
}
    
.tarjeta__promociones__imagen{
    transition: all 500ms ease;
}
    
.tarjeta__promociones__imagen:hover{
    transform: scale(1.3);
}




/* ----------------------------------- CONTACTO*/
.contactobody{
    background-image: url(../imagenes/nosirveparanada1.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.formulariocontacto__contein{
    width: 90%;
    max-width: 450px;
    background-color: #8f8f84;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 7px 13px 37px 3px #000;
}

.formulariocontacto__title{
    font-size: 40px;
    padding-bottom: 1rem;
}


.formulariocontacto__nickname{
    font-size: 1rem;
    color: #353433;
}

.formulariocontacto__nickname1{
    margin-bottom: 1rem;
}

.formulariocontacto__cuadro{
width: 50%;
background-color: #8f8f84;
padding: 10px;
border-radius: 4px;
margin-bottom: 1rem;
border: 1px solid #5f5d5c;
font-size: 1rem;
color: #3f3d3c;
}

.formulariocontacto__title2{
    padding-bottom: 1rem;
    font-size: 25px;
}

.formulariocontacto__titleopciones2{
    background-color: #8F8F84;
    border: 2px ridge #5F5D5C;
    border-radius: 5px;
    color: #353433;
    margin-bottom: 1rem;
    border: double;

}

.formulariocontacto__texto{
    width: 100%;
    height: 200px;
    margin-top: 2rem;
    margin: 0 auto;
    color: rgb(38, 41, 41);
    font-size: 1rem;
    background-color: #8f8f84;
    border: 1px solid;
    
}

.formulariocontacto__boton{
    width: 50%;
    height: 50%;
    background-color: #5F5D5C;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: none;
}



/* Cuarta pagina */
/*-------------------------------------LOG IN----------------------------------- */

.loguinbody{
    background-image: url(../imagenes/fondoquenosirve.png);
    background-size: cover;
    background-attachment: fixed;
}



.formulario{
    width: 90%;
    max-width: 450px;
    background-color: #8f8f84;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 7px 13px 37px 5px #000;
}

.formulario__title{
    font-size: 44px;
    margin-bottom: 20px;
}

.formulario__control{
    width: 100%;
    background-color: #8f8f84;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;
    border: 1px solid #5f5d5c;
    font-size: 1rem;
    color: #3f3d3c;
}

.formulario p {
    height: 40px;
    font-size: 1rem;
    margin-bottom: 1px;
    margin-top: 1px;
}
.formulario a{
    color: white;
    text-decoration: none;
}

.formulario a:hover{
    color: white;
    text-decoration: underline;
}

.formulario__boton{
    width: 100%;
    background-color: #5F5D5C;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: none;

}

/* ----------------------------------- Catalogo*/

.bodycatalogo{
    background-image: url(../imagenes/bodycatalogo.jpg);
    background-attachment: fixed;
    background-size: cover;
 
 }


#galeria .col-lg-4{
    margin: 0;
    padding: 25px;
}

#galeria img {
    width: 100%;
    height: 300px;
    transition: all 500ms ease;
}

#galeria img:hover{
    border: 5px solid rgba(255, 255, 255, 0);
    transition: all 500ms ease;
}














/* MediaQueris para tablets */

@media screen and (max-width: 1024px) {
    
    .header__barra{
        display: none;
    }

    .header__iconos{
        display: none;
    }


    .header__nav__lista{
        flex-direction: row;
        margin-left: -1.5rem;
      
    }

    .navbar-brand{
        font-size: 40px;
        
    }

    .header__imagen{
        margin-left: 0.5rem;
    }

    .section3{
        flex-direction:row;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .section4{
        flex-direction: row;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__iconos{
        display: none;
    }

    .footer__span{
        text-align: center;
        align-items: center;
    }

   .grid{
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(4, 0.5fr) ;
    grid-template-areas: 
    "ele1 ele1 ele1 ele1"
    "ele1 ele1 ele1 ele1"
    "ele2 ele2 ele3 ele3"
    "ele4 ele4 ele5 ele5";
   }


   .tarjeta__contenedor{
    display: flex;
    flex-wrap: wrap;
   }

   .encabezado{
       flex-wrap: wrap;
   }

   .productos{
    flex-wrap: wrap;
   }


   .encabezado__izq{
       padding-left: 1rem;
   }

   .encabezado__dere{
       padding-right: 1rem;
   }


   .encabezado img{
    max-width: 300px;
   }

   .encabezado__title{
       font-size: 40px;
   }

}




/* MediaQueris para mobiles */

@media screen and (max-width: 600px) {
    
    #burguer{
        display: inline-block;
        font-size: 1.5rem;
        color: #0c0c0c;
    }
   
    .whatsapp{
        display: none;
    }
    .navbar-brand{
        font-size: 40px;
        
    }


    .header__contein{
        flex-direction: flex;
    }

    .header__imagen{
      display: none;
    }


    .header__barra{
        display: none;
    }

    .header__nav{
        display: none;
    }

    .header__iconos{
        display: none;
    }

 
    .grid{

        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,250px) ;
        grid-template-areas:
    
        "ele1"
        "ele2"
        "ele3"
        "ele4"
        "ele5";
    }

 
    .section3{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    
    .tarjeta{
        margin-left: -1px;
    }
    
    .section4{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer{
        flex-direction: column;
    }

    .footer__iconos{
        display: none;
    }

    .footer__span{
        text-align: center;
        align-items: center;
    }

   

   /* Comienza PRODUCTOS */
    
   
   .encabezado__img{
    height:250px;
    width: 250px;
   }

   .encabezado__title{
    font-size: 30px;
    }

    .encabezado{
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: center;
        overflow: hidden;
        padding-top: 5rem;
    }

    .encabezado div{
        height: 250px;
        width: auto;
        margin: 5px;
        text-align: center;
        overflow: hidden;
        justify-content: center;
       
        
    
    }

    .encabezado__izq{
        padding-top: 2rem;
    }

    .encabezado__dere{
        padding-bottom: 1rem;
    }




}
    

 





