.productosbody{
    background-image: url(../imagenes/fondoquenosirve9.jpg); 
    background-size: cover;
    
} 



.encabezado{
    display: flex;
    align-items: center;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.encabezado__title{
    font-size: 75px;
    color: $fonttitlecolor;
    text-transform: uppercase;
    box-shadow:4px 3px 2px 1px ;
}

.encabezado__img{
    border-radius: 15rem;
    max-width: 450px;
}

.encabezado__izq, .encabezado__dere{
    width: 50%;
    text-align: center;
    align-items: center;
}

.producto__contenedor{
     display: flex;
    justify-content: center;
    margin:1rem ;
    flex-wrap: wrap;
}




.tarjeta__productos{
    display: flex;
    justify-content: center;
    margin:1rem ;
    flex-wrap: wrap;
}

.tarjeta__productos{
    background-color: $bgcolor;
    color: black;
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 1rem;
    /* borde: grosor, tipo  color */

    margin: 1rem;
    overflow: hidden;
    display: inline-block;
}

.tarjeta__productos__imagen{
    width: 100%;
    height: 280px;
    

}

.tarjeta__productos__titulo{
    font-size: 25px;
    color: $fontsubtitlecolor;
    margin: 3px;
}



.encabezado div{
    overflow: hidden;

}

.encabezado__img{
    transition: all 500ms ease;

}
        
.encabezado__img:hover{
    filter: saturate(180%);
}

.flex__container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    overflow: hidden;
}

.flex__container div{
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    overflow: hidden;

}
        
.conteiner__img{
    transition: all 500ms ease;

}
        
.conteiner__img:hover{
    transform: scale(1.2);
}
    

